parameters:
    typeAliases:
        devRoboDownloadCurlPhpExecutable: '''
            array{
                available: bool,
                envVar: array<string, string>,
                command: string,
            }
        '''
