parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\:\\:setAssetNamePrefix\\(\\)\\.$#"
			count: 1
			path: ../RoboFile.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Task\\\\Filesystem\\\\FilesystemStack\\:\\:mkdir\\(\\)\\.$#"
			count: 4
			path: ../RoboFile.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitListStagedFilesTask\\:\\:setPaths\\(\\)\\.$#"
			count: 1
			path: ../RoboFile.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitReadStagedFilesTask\\:\\:setCommandOnly\\(\\)\\.$#"
			count: 1
			path: ../RoboFile.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Phpstan\\\\Task\\\\AnalyzeTask\\:\\:setNoProgress\\(\\)\\.$#"
			count: 1
			path: ../RoboFile.php

		-
			message: "#^Call to an undefined method Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitReadStagedFilesTask\\:\\:deferTaskConfiguration\\(\\)\\.$#"
			count: 1
			path: ../RoboFile.php

		-
			message: "#^Property RoboFile\\:\\:\\$codeceptionInfo \\(array\\{paths\\: array\\{tests\\: string, log\\: string, envs\\: string\\}\\}\\|null\\) does not accept array\\.$#"
			count: 1
			path: ../RoboFile.php

		-
			message: "#^Parameter \\#1 \\$filename of function unlink expects string, resource\\|string\\|null given\\.$#"
			count: 1
			path: ../src/Task/DownloadTask.php

		-
			message: "#^Method Sweetchuck\\\\Robo\\\\DownloadCurl\\\\Tests\\\\Helper\\\\Dummy\\\\DummyTaskBuilder\\:\\:taskDownloadCurl\\(\\) should return Robo\\\\Collection\\\\CollectionBuilder but returns Sweetchuck\\\\Robo\\\\DownloadCurl\\\\Task\\\\DownloadTask\\.$#"
			count: 1
			path: ../tests/_support/Helper/Dummy/DummyTaskBuilder.php

		-
			message: "#^PHPDoc tag @return with type Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\DownloadCurl\\\\Task\\\\DownloadTask is not subtype of native type Robo\\\\Collection\\\\CollectionBuilder\\.$#"
			count: 1
			path: ../tests/_support/Helper/Dummy/DummyTaskBuilder.php

		-
			message: "#^Parameter \\#2 \\$commandFile of static method Robo\\\\Collection\\\\CollectionBuilder\\:\\:create\\(\\) expects Robo\\\\Tasks, null given\\.$#"
			count: 1
			path: ../tests/_support/Helper/Dummy/DummyTaskBuilder.php

		-
			message: "#^Method Sweetchuck\\\\Robo\\\\DownloadCurl\\\\Tests\\\\Helper\\\\RoboFiles\\\\RoboFileAcceptance\\:\\:taskDownloadCurl\\(\\) should return Robo\\\\Collection\\\\CollectionBuilder but returns Sweetchuck\\\\Robo\\\\DownloadCurl\\\\Task\\\\DownloadTask\\.$#"
			count: 1
			path: ../tests/_support/Helper/RoboFiles/RoboFileAcceptance.php

		-
			message: "#^PHPDoc tag @return with type Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\DownloadCurl\\\\Task\\\\DownloadTask is not subtype of native type Robo\\\\Collection\\\\CollectionBuilder\\.$#"
			count: 1
			path: ../tests/_support/Helper/RoboFiles/RoboFileAcceptance.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\DownloadCurl\\\\Task\\\\DownloadTask\\:\\:setOptions\\(\\)\\.$#"
			count: 1
			path: ../tests/unit/Task/DownloadTaskTest.php

		-
			message: "#^Parameter \\#2 \\$commandFile of static method Robo\\\\Collection\\\\CollectionBuilder\\:\\:create\\(\\) expects Robo\\\\Tasks, null given\\.$#"
			count: 1
			path: ../tests/unit/Task/TaskTestBase.php

