parameters:
    typeAliases:
        devRoboDownloadCurlPhpExecutable: '''
            array{
                enabled: bool,
                command: string,
                envVars?: array<string, null|string>,
            }
        '''
